
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigcode.nativefunctionalities"
    android:versionCode="1"
    android:versionName="1.0" >
    <application>
      <receiver android:name="com.bigcode.nativefunctionalities.LocalNotification" />
    </application>
</manifest>